    <h1 class="text-center">Edit <%= @user.username %>'s profile </h1>
    <%= render "shared/errors", obj: @user %>
    <%= render "form"%>
    <!--<div class="text-center mt-4">
        <%= link_to 'Return to Articles listing', articles_path, class:"btn btn-outline-primary" %>
    </div>
    