<div class="container-fluid home-main">
    <div class="jumbotron">
        <h1>Welcome to Captain blog</h1>
        <p>
           This site is under the responsibility of <a href="/about" class="georges-link">Georges</a>.
           <p>
            Please contact <a href="/about" class="georges-link">Georges</a> to full acces in our publications.
           </p>
        </p>
    </div>
    
</div>