<div class="container-fluid home-main">
    <!--<h1>Welcome to the home page</h1>-->
    <div class="jumbotron">
        <h1>Welcome to Captain blog</h1>
        <p>
           This site is under the responsibility of <a href="/about" class="georges-link">Georges</a> &amp; <a href="/about" class="guivens-link">Guivens</a>.
           <p>You can register and publish information if it is trustworthy.</p>
        </p>
        <% unless logged_in? %>
          <a href="/signup"><button type="button" class="btn btn-primary">Sign up!</button><a href="/signup"></a>
        <% end %>
        
    </div>
</div>