/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

// Home page
.home-main{
    display: flex;
    align-items: center;
    height: 500px;
    background-image: asset-url('computer.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.header{
    margin-bottom: 30px;
}
.main-brand{
    border-radius: 50%;
    margin: 10px;
}
.jumbotron{
    margin: auto;
    width: 60%;
    text-align: center;
    color: #ffffff;
    //border: 1px solid red;
}

html,
body {
  height: 100%;
}

#page-content {
    flex: 1 0 auto;
}

// End

// Articles page
.card-box{
    margin-bottom: 50px;
}
.card-item{
    margin: auto;
    width: 80%;
}
//End