<div id="page-content">
</div>
<footer id="sticky-footer" class="flex-shrink-0 py-4 bg-dark text-white-50">
    <div class="container text-center mt-4">
        <article id="roche-pub">
            <h3 class="text-white">Yes we can!!! let's build another HAITI by Rochelor</h3>
            <iframe width="400" height="184" src="https://www.youtube.com/embed/Wro2z8hPYMY" title="Jeunesse et l'espoir" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </article>
    </div>
    <div class="container text-center">
        <small>Copyright &copy; Captain blog</small>
    </div>
</footer>